# Virtual environment folder names
venv/
.venv/
env/

# Python cache files
__pycache__/
*.pyc

# Local environment/secret files
.env

# IDE related files
.idea

# DB files
instance/
.db
.sqlite3

# UI
node_modules
client/dist
client/.env.local
